@import url(https://fonts.google.com/specimen/Shadows+Into+Light?subset=latin);
 
  
.App {
  text-align: right;
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/739/534/non_2x/green-palm-tree-leaves-with-shadow-on-white-background-free-photo.JPG");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 background-repeat:repeat;
 background-size: cover;
}

h1{
  font-family: "'Shadows Into Light'";
  font-size: 80px;
  width: 500px;
  text-align: right;
  padding-left: 200px;
}

.LandingImage{
  
  text-align: left;
}
p{
  text-align: right;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  width: 640px;
  
}

.SaveMySkinButton{
    border: 2px solid rgb(137, 135, 134);
    height: 40px;
    width: 120px;
    font-weight: bold;
    display: inline-block;


}


