.NavBar{
    margin: 10px;
    padding: 10px;
}

.NavBar ul{
    padding:10px;
    list-style-type: none;
}


.NavBar li{
    margin: 10px;
    list-style-type: none;
}

.navbar-nav{
    font-size: 200px;
}