


img{
    width:100px;
    height:100px;
    
}


.QuizContainer{
    
    background-color:blanchedalmond;
    text-align: center;

    
}

.col{
    text-align: center;
}

.row{
    text-align: center;
}

.QuizQuestions{
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    font-size: 22px;
}

input{
    margin-left: 10px;
}

label{
    margin-left: 5px;
}

button{
    font-weight: bold;

}