
h2, h3{
    margin-top: 10px;
    padding-top:20px;
    
}

.SkinImages{
    width:200px;
    height:200px;
    display: block;
    margin: 10px auto;
    
}


.QuizContainer{
    
    background-color:rgb(250,235,215, 0.3);
    text-align: center;
    font-size: 18px;
    
    

    
}

.col{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px rgb(245, 222, 179, 0.2) solid;

    
}

.row{
    text-align: center;
    
}

.QuizQuestions{
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    font-size: 26px;
    margin-bottom: 10px;
}

input{
    margin-left: 20px;
    
}

label{
    margin-left: 5px;
    font-size: 22px;
}

button{
    font-weight: bold;
    margin: 10px;
    border-radius: 5px;
    padding:10px;
    font-family: 'Courier New', Courier, monospace;

}

button:hover {
    cursor: pointer;
    opacity: 50%;
  }