.ResultsContainer{
    background-color: rgb(250,235,215, 0.5);
    text-align: center;

}

.Results{
    padding:10px;
    text-align: center;
    background-color: rgb(250,235,215, 0.5);
}

.productInfo{
font-weight: bold;
}

.productDescrip{
    text-decoration: initial;
}